.c-player--controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.c-player--controls .play-btn {
  display: flex;

  padding: 20px;
  border-radius: 50%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8),
    -4px -4px 10px rgba(255, 255, 255, 0.4),
    inset -4px -4px 10px rgba(0, 0, 0, 0.4),
    inset 4px 4px 10px rgba(255, 255, 255, 0.4);
  border: none;
  outline: none;
  background-color: #ffce00;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  position: relative;
}

.c-player--controls .control-btn {
  background: none;
  border-radius: 50%;
  padding: 10px;
  border-radius: 50%;
  border: none;
  outline: none;
  color: #888;
  font-size: 22px;
  cursor: pointer;
  position: relative;
}

.control-btn .tooltiptext {
  font-size: 15px;
  visibility: hidden;
  width: 70px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  top: -30px;
  left: -50%;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.control-btn:hover .tooltiptext {
  visibility: visible;
}

.control-btn:active {
  color: #ffce00;
}

.tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
