.c-player--details .details-img {
  position: relative;
  width: fit-content;
  margin: 30px auto;
}

.c-player--details .details-img img {
  display: block;
  margin: 30px auto;
  width: 250px;
  border-radius: 30%;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.8),
    -6px -6px 12px rgba(255, 255, 255, 0.4);
}

.c-player--details .details-title {
  color: #eee;
  font-size: 24px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8),
    -2px -2px 4px rgba(255, 255, 255, 0.4);
  text-align: center;
  min-height: 65px;
}

.c-player--details .details-artist {
  color: #aaa;
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8),
    -2px -2px 4px rgba(255, 255, 255, 0.4);
  text-align: center;
  margin-bottom: 20px;
}
